[user]
	name = Zemke
	email = florian@zemke.io
[push]
	default = simple
[core]
	autocrlf = input
	editor = vim
	excludesfile = ~/.gitexcludes
[init]
	defaultBranch = main
[includeIf "gitdir:~/pain/mes"]
  path = ~/pain/mes/.gitconfig

