[alias]
	s = status -sb
	co = checkout
	c = commit
	m = merge
	b = branch
	l = log --graph --pretty=format:'%Cred%h%Creset %an: %s - %Creset %C(yellow)%d%Creset %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	d = diff
	a = add
	f = fetch -p
	today = !git log --since=midnight --author=\"$(git config user.name)\" --oneline
	dc = diff --cached
	dcno = diff --cached --name-only
	dno = diff --name-only
	pl = pull --rebase
	ps = push
	psf = push -f
	r = reset
	rb = rebase
	ap = add --patch
	aa = add .
	standup = !git log --all --author=$USER --format='%s' --since="$(if [[ "Mon" == "$(date +%a)" ]]; then echo "last friday"; else echo "yesterday"; fi)"
	cp = cherry-pick
	dns = diff --name-status
	splash = !git stash && git pl && git stash apply
	beer = commit --amend --no-edit
[user]
	name = Zemke
	email = flzemke@gmail.com
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[push]
	default = simple
[core]
	autocrlf = input
	editor = vim
